@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Mulish:700&display=swap');

.logout-button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.logout-button:hover {
    background-color: red;
}